<div class="content">
	
	<p>Nothing here {{appname}}</p>
	<form action="/api/application" method="get">
		<button type="submit" value="submit">Button not using angular directive</button>
	</form>

	<form>
		<button ng-click="insertInDatabase()">Button using angular directive</button>
	</form>
	<paper-button raised>flat button</paper-button>
	
	
	<div layout="row" ng-repeat="t in 'ab'" flex>
		<div layout="column" ng-repeat="t in 'abc'" flex>

			<md-card>
				<h2>Paracosm</h2>
				<p>
					The titles of Washed Out's breakthrough song and the first single from Paracosm share the
					two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
				</p>
				<a href="/auth/twitter?returnto={{hash}}">Sign in with Twitter</a>
			</md-card>
			
			<!--<md-card class="card" data-ng-repeat="photo in photoColumn">-->
			<!--<img ng-src="{{photo.path}}">-->
			<!--</md-card>-->
		</div>
	</div>

</div>
